header {
    height: 70px;
    width: 100%;
    border-bottom: 1px#CCCCCC;
    color: white;
    background-image: url('../images/logo_hbnb.png');
    background-repeat: no-repeat;
    background-position: 20px center;
}
